<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Sales Report</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th,
        td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>

<body>
    <br>
    <h2>Sales Report</h2>
    <table>
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Quantity Sold</th>
                <th>Unit Price</th>
                <th>Total Sales</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Coconut Soap</td>
                <td>100</td>
                <td>RM7.00</td>
                <td>RM700.00</td>
            </tr>
            <tr>
                <td>Coconut Shampoo</td>
                <td>50</td>
                <td>RM18.00</td>
                <td>RM900.00</td>
            </tr>
            <tr>
                <td>Coconut Mask</td>
                <td>75</td>
                <td>RM20.00</td>
                <td>RM1,500.00</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td cols>

                </td>
                 <br>
                    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>