/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: gray;}

@font-face {
    font-family: Madimi One;
    src: url(assets/fonts/MadimiOne-Regular.ttf) format('truetype');
}

.Madimi{
    font-family: Madimi One;
}